.container{
    width: 1440px;
    height: 1201px;
}
.start{
    width: 1440px;
    height: 65px;
    display: flex;
    border-bottom: solid 2px gray;
}
.div-1{
    margin-left: 70px;
    display: flex;
    gap: 25px;
    align-items: center;
}
.div-1 .element{
    display: flex;
    align-items: center;
}
.div-1 .element input{
    width: 500px;
    height: 25px;
    border-radius: 5px;
}
.div-2{
    margin-left: 140px;
    display: flex;
    gap: 25px;
    align-items: center;
}
.div-2 .tr{
    display: flex;
    align-items: center;
}
.logo{
    width: 31px;
    height: 40px;
}
.shoppingcart{
    margin-top: 40px;
    margin-left: 80px;
    display: flex;
    width: 536px;
    height: 42px;
}
.card{
    margin-top: 22px;
    margin-left: 80px;
    width: 840px;
    height: 623px;
    border: solid 1px #E2E8F0;
    border-radius: 16px;
}
.visa{
    margin: 16px;
    width: 812px;
    height: 591px;
}
.orderdetails{
    position: absolute;
    top: 161px;
    left: 980px;
    width: 400px;
    height: 566px;
}
.design {
    width: 399px;
    height: 163px;
    border: solid 1px #E2E8F0;
    border-radius: 8px;
    background-color: #F8FAFC;
    display: flex;
}
.design:hover{
    cursor: pointer;
    background-color: honeydew;
}
.yellow:hover{
    background-color: yellow !important;
}
.qvemota{
    margin-top: 150px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.qveshua {
    display: flex;
    gap: 95px;
    align-items: center;
}
.pirveli{
    display: flex;
    flex-wrap: wrap;
}
.meore{
    display: flex;
    flex-wrap: wrap;
}
.meore div{
    color: #CBD5E1;
}
.mesame{
    display: flex;
    flex-wrap: wrap;
}
.mesame div{
    color: #CBD5E1;
}
.meotxe{
    display: flex;
    flex-wrap: wrap;
}
.meotxe div{
    color: #CBD5E1;
}
.icons img {
    width: 35px; 
    height: 35px; 
    margin: 5px; 
}
.icons a {
    text-decoration: none; 
}